<div class="jumbotron">
  <form>
    <div class="form-group row justify-content-center">
      <label for="projectName" class="col-lg-2 col-form-label">Project Name</label>
      <input type="text" class="form-control col-lg-8" id="projectName" aria-describedby="emailHelp" placeholder="Enter project name">
    </div>
    <div class="form-group row justify-content-center">
      <label for="refernceNumber" class="col-lg-2 col-form-label">Refernce number</label>
      <input type="number" class="form-control col-lg-8" id="refernceNumber" placeholder="0.0">
    </div>
    <div class="form-group row justify-content-center">
      <label for="projectType" class="col-lg-2">Project type</label>
      <select id="projectType" class="form-control col-lg-8">
        <option selected>Building</option>
        <option>Apartment</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="numberOfBlocks" class="col-lg-2 col-form-label">Number of blocks</label>
      <input type="number" class="form-control col-lg-8" id="numberOfBlocks" placeholder="0">
    </div>
    <div class="form-group row justify-content-center">
      <label for="numberOfStory" class="col-lg-2 col-form-label">Number of storys</label>
      <input type="number" class="form-control col-lg-8" id="numberOfStory" placeholder="0">
    </div>


    <div class="form-group row justify-content-center">
      <label for="projectType" class="col-lg-2">Project type</label>
      <select id="projectType" class="form-control col-lg-8">
        <option selected>Building</option>
        <option>Apartment</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="clientName" class="col-lg-2 col-form-label">Client name</label>
      <input type="text" class="form-control col-lg-8" id="clientName" aria-describedby="emailHelp" placeholder="client name">
    </div>
    <div class="form-group row justify-content-center">
      <label for="consultantName" class="col-lg-2 col-form-label">Consultant Name</label>
      <input type="text" class="form-control col-lg-8" id="consultantName" aria-describedby="emailHelp" placeholder="consultant name">
    </div>

    

    <div class="form-group row justify-content-center">
        <label for="projectDescription" class="col-lg-2 col-form-label">Project description</label>
        <textarea class="form-control col-lg-8" id="projectDescription" rows="3"></textarea>
    </div>

      <div class="row justify-content-right">
          <div class="offset-lg-10 col-lg-2">
            <button type="submit" class="btn btn-primary pl-1">Submit</button>
          </div>
      </div>
  </form>


  

</div>
