<div class="menu">
    <ul class="nav nav-pills nav-fill">
        
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/contract/new-contract']" routerLinkActive="active">Creat contract</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/contract/basic-info']" routerLinkActive="active">Basic contract Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contract submission</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>