


<div class="jumbotron">
    <form>
      <br><br>
      <div class="form-group row justify-content-center">
        <label for="contractAmount" class="col-lg-2 col-form-label">Contract amount</label>
        <input type="text" class="form-control col-lg-8" id="contractAmount" aria-describedby="emailHelp" placeholder="Without VAT,Rebate & contingency">

      </div>
      <div class="form-group row justify-content-center">
        <label for="sigingDate" class="col-lg-2 col-form-label">Sigingin date</label>
        <input type="date" class="form-control col-lg-8" id="sigingDate" >
      </div>
      <div class="form-group row justify-content-center">
        <label for="handoverDate" class="col-lg-2">Handover date</label>
        <input type="date" class="form-control col-lg-8" id="handoverDate" >

      </div>
      <div class="form-group row justify-content-center">
          <label for="comencementDate" class="col-lg-2">Comencment date</label>
          <input type="date" class="form-control col-lg-8" id="comencementDate" >
  
        </div>
  
      <div class="form-group row justify-content-center">
        <label for="orginalDuration" class="col-lg-2 col-form-label">Original contract duration</label>
        <input type="number" class="form-control col-lg-8" id="orginalDuration">
      </div>
      <div class="form-group row justify-content-center">
        <label for="originalCompletionDate" class="col-lg-2 col-form-label">Original complition date</label>
        <input type="date" class="form-control col-lg-8" id="originalCompletionDate">
      </div>
  
  
     
  
      <div class="row justify-content-right">
        <div class="offset-lg-10 col-lg-2">
          <button type="submit" class="btn btn-primary pl-1">Submit</button>
        </div>
      </div>
    </form>
  
  
  
  
  </div>
  