<div class="menu">
    <ul class="nav nav-pills nav-fill">
        
        <li class="nav-item">
          <a class="nav-link " href="#">Rcent variations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Variation status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Variation price offer</a>
        </li>
      </ul>
    </div>
  
<div class="jumbotron">
       <form>
      <br><br>
    <div class="form-group row justify-content-center">
      <label for="variationNumber" class="col-lg-2 col-form-label">Variation number</label>
      <input type="number" class="form-control col-lg-8" id="variationNumber" aria-describedby="emailHelp" placeholder="Enter variation number">
    </div>
    <div class="form-group row justify-content-center">
      <label for="variationDescription" class="col-lg-2 col-form-label">Variation description</label>
      <textarea class="form-control col-lg-8" id="variationDescription" rows="3"></textarea>
    </div>

    <div class="form-group row justify-content-center">
      <label for="variatioType" class="col-lg-2">Variation Type</label>
      <select id="variatioType" class="form-control col-lg-8">
        <option selected>Extra work</option>
        <option>other</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="mediaOfInstruction" class="col-lg-2">Media of Instruction</label>
      <select id="mediaOfInstruction" class="form-control col-lg-8">
        <option selected>written</option>
        <option>other</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="workLocation" class="col-lg-2 col-form-label">Work location</label>
      <input type="text" class="form-control col-lg-8" id="workLocation" placeholder="0.0">
    </div>

    <div class="form-group row justify-content-center">
      <label for="approvalStatus" class="col-lg-2">Approval status</label>
      <select id="approvalStatus" class="form-control col-lg-8">
        <option selected>wating</option>
        <option>approved</option>
      </select>
    </div>
    <div class="form-group row justify-content-center">
      <label for="excutionlStatus" class="col-lg-2">Excution status</label>
      <select id="excutionStatus" class="form-control col-lg-8">
        <option selected>Excuted</option>
        <option>pending</option>
      </select>
    </div>
    <div class="form-group row justify-content-center">
      <label for="paymentConsidaration" class="col-lg-2">Payment consideration</label>
      <select id="paymentConsidaration" class="form-control col-lg-8">
        <option selected>Fully certified</option>
        <option>pending</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="currentStatus" class="col-lg-2">Currnt status</label>
      <select id="currentStatus" class="form-control col-lg-8">
        <option selected>CBD approved</option>
        <option>pending</option>
      </select>
    </div>

    <div class="form-group row justify-content-center">
      <label for="documentRefernce" class="col-lg-2 col-form-label">Document refernce</label>
      <input type="number" class="form-control col-lg-8" id="documentRefernce" placeholder="0.0">
    </div>




    <div class="row justify-content-right">
      <div class="offset-lg-10 col-lg-2">
        <button type="submit" class="btn btn-primary pl-4"> Submit </button>
      </div>
    </div>
    <br><br>
  </form>
</div>
